<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023240139570-a7pkt6iat0evuce1rbf7p9j3m14gcr3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023240139570-a7pkt6iat0evuce1rbf7p9j3m14gcr3o</string>
	<key>API_KEY</key>
	<string>AIzaSyC9JrfVVX6fwDRC25wPpcQIeSoWBkpib-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1023240139570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boredless</string>
	<key>PROJECT_ID</key>
	<string>boredless-d8d4e</string>
	<key>STORAGE_BUCKET</key>
	<string>boredless-d8d4e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023240139570:ios:18a93c4d230d36c19c1d2b</string>
</dict>
</plist>